<<<<<<< HEAD
h1{

    font-size: 50px;
}
body{
    margin:0;
    font-family: 'poppins',sans-serif;
}
.name-highlight{


    color:orange;
}
.half{
       width: 40%;
       float:left;
       
       margin-left: 5%;
       padding-left: 2%;



}
.half img{


    width: 100%;
    
    }


.picture{

background-image: url("images/top-banner.png");
background-repeat: no-repeat;


}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right ;
}
        


     
        

    
    section{

         height: 500px;
         padding-bottom:150px;
        
    }
           
    .boom{

        
          
          text-decoration: none;
          padding:10px 20px;
          font-weight: 700px;
        color:white;
        background-color:orangered;
          border-radius:5px;


    }
    h2{
       
        font-size: 40px;
    }
   .single{
    width: 40%;
    float:left;
    
    margin-left: 5%;
    padding-left: 2%;
background-color: gray;
    box-shadow: 10px 20px 40px gray;
     border-radius: 10px;
     height: 60%;
   }
   .expert{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left ;

   }
   #full{
       border-left: 7px solid;
       border-image:linear-gradient(180deg, lightsalmon,tomato) ;
       border-image-slice: 1;

      
   }
   #broz{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue,cyan ) ;
    border-image-slice: 1;


   }
   footer p{


    text-align: center;
    font-size: 20px;
    color: red;
   }
   
   
=======
h1{

    font-size: 50px;
}
body{
    font-family: 'poppins',sans-serif;
}
.name-highlight{


    color:orange;
}
.half{
       width: 40%;
       float:left;
       
       margin-left: 5%;
       padding-left: 2%;



}
.half img{


    width: 100%;
    
    }
>>>>>>> 8e4775be91ab8a235f3c87dcfb637d9a8ecd247d
